.gridsheet {
    button {
        &.ss-gridsheet-add-new-inline {
            margin-bottom: 1em;
        }
    }
    table.ss-gridfield-table {
        tbody {
            td {
                &[data-visibility="hidden"] {
                    visibility: hidden;
                    width: 0;
                    overflow: hidden;
                    padding: 0;
                    border: none;
                }
            }
        }
    }
}
.ModelAdmin .cms-content-fields .cms-edit-form {
    // force model-admin to scroll horizontally if gridsheet too wide
    overflow-x: auto!important;
}